body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

h2 {
  margin-bottom: 20px;
  color: #658147;
  font-weight: 900;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #666;
  text-align: left;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input:focus {
  border-color: #ff7e5f;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, dimgrey, black);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  animation: hoverEffect 0.3s forwards;
}

@keyframes hoverEffect {
  from {
    background: linear-gradient(135deg, dimgrey, black);
  }
  to {
    background: linear-gradient(135deg, black, dimgrey);
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.password-input-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 18px;
  color: #666;
}

.toggle-password span {
  margin-left: 5px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.login-container p a {
  color: #007bff;
  text-decoration: none;
}
.login-container p a:hover {
  text-decoration: underline;
}

.banner video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .banner video {
    width: 100%;
    height: auto;
  }
}

.card {
  margin-left: 100px;
  margin-top: 15px;
  width: 190px;
  height: 120px;
  transition: all 0.5s;
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
    -15px -15px 30px rgba(60, 60, 60, 0.082);
  text-align: center;
  overflow: hidden;
}

.card:hover {
  height: 260px;
  background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
}

.card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  margin-bottom: 16px;
}

.card .header .img-box {
  width: 50px;
}

.card .header .title {
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all 0.5s;
  color: #edededc5;
}

.card:hover .header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.card:hover .card .header .title {
  padding: 0;
}

.card .content {
  display: block;
  text-align: left;
  color: whitesmoke;
  margin: 0 18px;
}

.card .content p {
  transition: all 0.5s;
  font-size: 0.8em;
  margin-bottom: 8px;
}

.card .content a {
  color: #1d8122;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.card .content .btn-link:hover {
  border-bottom: 1px solid #1d8122;
}

@media only screen and (max-width: 768px) {
  .card {
    margin-left: 80px;
  }

  .card:hover {
    height: auto;
    background: none;
  }

  .card .header .title {
    padding: 4px 0;
  }
}
